<!DOCTYPE html>
<html>
<head>
  <title>Déjàvis</title>
  <link href="/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>
  <div id="header">
    <div id="title">
      <h1>Déjàvis</h1>
      <span id="subtitle">Datavis Exhibits</span>
    </div>
  </div>
  
  <div id="content">
    <div id="visualizations">
    {{#visualizations}}
      <div class="visualization">
        <a href="/{{name}}"><img src="/images/{{name}}.png"/></a>
        <h5><a href="/{{name}}">{{title}}</a></h5>
        <div class="descr">
          {{descr}}
        </div>
        <div class="meta">x Views, y Comments</div>
      </div>
    {{/visualizations}}
    </div>
  </div>
</body>
</html>
