<!DOCTYPE html>
<html>
<head>
  <title>Déjàvis - {{title}}</title>
  
  <!-- libraries -->
  <script src="/javascripts/jquery-1.4.2.min.js"></script>
  <script src="/javascripts/jquery.mousewheel.js"></script>
  <script src="/javascripts/underscore.js"></script>
  
  <!-- applications -->
  {{#scripts}}
  <script src="/files/{{name}}/{{.}}"></script>
  {{/scripts}}
  
  <link href="/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>
  <div id="header">
    <div id="title">
      <h1><a href="/">Déjàvis</a></h1>
      <span id="subtitle">An open data visualization repository</span>
    </div>
    
    <div id="meta">
      <div class="meta-group title left">
        <h2>{{title}}</h2><span>{{version}}</span>
      </div>
      
      <div class="meta-group description left">
        <div class="label">Description</div>
        <div class="descr">{{descr}}</div>
      </div>
      <div class="meta-group">
        <div class="label">Links</div>
        <div class="value"><a href="{{github_url}}">Source</a></div>
        <br style="clear: both"/>
        <div class="value"></div>
        <br style="clear: both"/>
      </div>
      <div class="meta-group">
        <div class="label">Author</div>
        <div class="value"><a href="{{author_homepage}}">{{author}}</a></div>
        <br style="clear: both"/>
        <div class="label">Published</div>
        <div class="value">13th August 2010</div>
        <br style="clear: both"/>
        <div class="label">Framework</div>
        <div class="value"><a href="{{framework_url}}">{{framework_name}}</a></div>
      </div>
    </div>
  </div>
  
  <div id="canvas">
    
  </div>
  <div id="sidebar">

  </div>
</body>
</html>
